name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: "51.38.32.11"
        username: "ubuntu"
        password: "6aAuThuvZfFq"
        port: "22" 
        script: hostname
                lxc launch images:ubuntu/20.04 testapache -s test
